.images {
  height: 200px;
  width: 1000px;
}

.description {
  padding-left: 15px;
}

.userPhoto {
  max-width: 100px;
  max-height: 100px;
  border-radius: 40px;
}

.contact {
  padding-left: 10px
}

.checkbox {
  height: 45px;
  width: 20px
}

/* ant desifgned elements */
.btn span {
  display: contents;
}

.image:hover {
  opacity: 0.6;
}

.image {
  opacity: 1;
  display: block;
  width: 160px;
  height: 160px;
  transition: .5s ease;
  backface-visibility: hidden;
  border-radius: 50%;
}

.avaLabel {
  display: inline-block;
  padding: 2px;
  cursor: pointer;
  background-color: #337ab7;
  color: #fff;
  border-radius: 50%;
}

.uploadAva {
  display: none;
}

.inputLabel {
  width: 175px;
}

.btn span {
  display: contents;
}
.btn{
  margin-bottom: 10px;
}
