
label{
  /* display: flex; */
  margin-top: 10px;
}
form{
  margin: 10px;
}
button{
  margin-top: 10px;
}
.login{
  height: 25px;
  width: auto;
}
.checkbox {
  display: flex;
  margin-top: 10px;
}
.checkbox label{
  margin: 5px;
}
.ErrorMessage{
  color: red;
  margin-top:5px
}
.email  {
  color: rgb(216, 51, 46);
}  

.password  {
  color: rgb(216, 51, 46);
}  